@media (max-width: 768px) {
	.menu__icon {
		display: block;
	}

	/* .header__nav,
	.header__button {
		display: none;
	} */

	.header__button {
		display: none;
	}
	.nav__item {
		position: absolute;
		top: 0;
		left: 0;
		background-color: #86b817;
		width: 100%;
		height: 380px;
		padding-top: 70px;
		flex-direction: column;
		align-items: center;
		row-gap: 30px;
		transform: translateY(-100%);
	}
	.btn-menu {
		display: block;
	}

	.nav__link {
		font-size: 24px;
	}
	.nav__link:hover::before {
		opacity: 0;
	}

	.about__wrapper {
		flex-direction: column;
	}

	.about__info-left {
		width: 100%;
		margin-bottom: 20px;
	}
	.about__info-rigth {
		text-align: center;
		width: 100%;
	}
	.splide__slide.is-active {
		transform: scale(1); /* Увеличиваем размер активного слайда */
	}
	.tours__info-blocks {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.form__wrapper {
		flex-wrap: wrap;
		justify-content: center;
	}
	.form__box-left {
		max-width: none;
		width: 100%;
	}

	.footer__wrapper {
		flex-wrap: wrap;
		justify-content: space-evenly;
		gap: 20px;
	}
}

@media (max-width: 640px) {
	figure.snip1139 {
		max-width: none;
		width: 100%;
	}
	figure.snip1139 img {
		width: 100%;
	}
}

@media (max-width: 594px) {
	.services__box {
		width: 100%;
	}
	.about__desc {
		justify-content: center;
		font-size: 24px;
	}
	.tours__box {
		width: 100%;
	}
	.tours__box-img {
		width: 100%;
		height: 250px;
	}
	.form {
		width: 100%;
	}
	.form__box-input {
		max-width: none;
		width: 100%;
	}
}

@media (max-width: 426px) {
	.header__info-title {
		font-size: 30px;
	}

	.header__info-desc {
		font-size: 18px;
	}

	.about__info-services {
		flex-direction: column;
		row-gap: 20px;
		align-items: center;
	}
	.about__info-services-left {
		margin-right: 0;
	}
	.desc span {
		width: 45px;
	}
	.tours__box-img {
		width: 100%;
		height: auto;
	}

	.footer {
		padding: 50px 0 20px 0;
	}
	.footer__wrapper {
		display: block;
	}
	.footer__box {
		justify-content: center;
		margin-bottom: 20px;
	}
}
